$col-white: #FFFFFF;
$col-black: #000000;
$col-vulcan: #141423;
$col-hollywood: #FF0D9E;
$col-candlelight: #FFD80D;
$col-blue: #1960FF;
$col-sulu: #BAF77E;
$col-blue-zodiac: #0D193F;

$col-bg: $col-vulcan;
$col-text: $col-white;
$col-link: $col-white;
$col-link-primary-bg: $col-hollywood;
$col-icon-link-bg: $col-vulcan;
$col-ticker-line: $col-candlelight;
$col-graffiti-bg: $col-blue;
$col-feature-card-border: $col-white;
$col-feature-jellyswap-card-bg: $col-sulu;
$col-feature-jellyswap-title: $col-blue-zodiac;
$col-feature-more-bg: rgba($col-vulcan, 5%);