$col-white: #FFFFFF;
$col-black: #000000;
$col-vulcan: #141423;
$col-hollywood: #FF0D9E;
$col-candlelight: #FFD80D;

$col-bg: $col-vulcan;
$col-text: $col-white;
$col-link: $col-white;
$col-link-primary-bg: $col-hollywood;
$col-icon-link-bg: $col-vulcan;
$col-ticker-line: $col-candlelight;